.mar-t-50{margin-top: 50px;}
h2{color: #3335ff; margin: 30px 0px; font-weight: 300; font-size: 24px;}
/*.table td, .table th{ font-size: 14px; }*/
.table th{ font-size: 14px; }
.table td{ font-size: 13px; }