.flag {
    height: 100%;
    /* background-image: -webkit-radial-gradient(square, red, yellow, green);
    background-image: radial-gradient(square, red, yellow, green); */
    color: whitesmoke;
    background-image: url("../media/images/blueimg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-size: cover; 
    height: -webkit-fill-available;

}
.new_Story {
    text-align: right;
}
input#usr1,#usr2, #usr3 {
    color: black;
}
td {
    background: steelblue;
}
button.logoutbutton {
    background: aquamarine;
    margin-left: auto;
}
.container{
    height: -webkit-fill-available;
    text-align: center;
}
button.logout {
    color: rgba(29, 110, 40, 0.589);
}
/* th {
    color: rgb(118, 228, 15);
} */