input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
textarea:focus,
input[type="text"]:focus,
.uneditable-input:focus {   
  border-color: rgba(126, 239, 104, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
  outline: 0 none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: rgb(255, 255, 255) !important;
    -webkit-box-shadow: inset 250px 0px 0px rgba(21, 36, 70);
  }
  .background{
    background-image: url("../media/images/blueimg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    height: -webkit-fill-available;
    background-position: center; 
  }
  @media (max-height: 500px) and (min-width: 280px) {


    .background{
      background-image: url("../media/images/blueimg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    /* height: -webkit-fill-available; */
    height:0%;
    background-position: center; 
    }
  }

  @media only screen and (min-width: 500px) {
  
  .App {
    text-align: center;
    margin: 100px;
  }
  span.passwordshow {
    cursor: pointer;
    border-radius: 10%;
    background: black;
  }
  span.welcome {
    font-size: -webkit-xxx-large;
    padding-right: 19%;
  }
  
  .backgroundimg{
    height:-webkit-fill-available;
    opacity: 0.78;
    /* background-image: url("./media/images/blueimg.jpg"); */
    text-align: center;
  
  
  }
  
  .demoForm{
    /* text-align: center; */
    margin: 5%;
    color: white
  }
  .links{
    /* margin: 8%; */
    /* background-color:rgba(21, 36, 70,.5); */
  
  }
  .SignIn{
    margin: 5%
  }
  .button{
    width: -webkit-fill-available;
    background-color:rgb(69, 121, 194);
    border: none;
    justify-items: center;
    /* margin: 8%; */
    padding: 5px;
    height: 32px;
  }
  .divinbutton{
    text-align: center;
    padding-top: 18px;
    font-size: smaller;
  }
  .anchortag{
    margin-top: 7%;
    
    
  }

  .loginform{
    /* margin: 20%; */
    /* height: 100%; */
    /* width: 10%; */
    margin-left: 40%;
    margin-top: 10%;
  
  }
  
  .insideform{
    background-color:rgba(21, 36, 70,.5);
    /* height: 450px; */
    width: 270px;
    position: relative;
    padding: 3% 1% 1.5% 1%;
  
  }
  .form-control{
    background-color: transparent;
    border: 0px solid #ccc;
    box-shadow: none;
    color: white;
    padding: 0;
    border-bottom: 1px outset;
    border-radius: 2px;
    border-bottom-color: #7cb2e4c2;
  
  }
  .form-control:focus{
    box-shadow: none;
    color: white
  }
  .form-group1{
  margin-bottom: 0.7% ;
  }
  .form-group2{
  margin-bottom: -10px ;
  }
  .label{
    font-weight: inherit;
    font-size: 90%;
    padding: 0;
    line-height: 2;
    color: #9cb4cad6
  }
  .container-fluid{
        padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
  }
  
  /* .hr1{
    margin-top: 3%;
    margin-bottom: -3%;
  }
  
  .hr2{
    margin-top: -4%;
  
  } */
  
  
  .links a {
    margin-left: 5%;
    color: #9cb4cad6
  }
  
  
  }
  /* input:-webkit-autofill:hover{
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: rgb(255, 255, 255) !important;
    -webkit-box-shadow: inset 250px 0px 0px #2b3b97;
  }
   
  input:-webkit-autofill:focus{
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: rgb(255, 255, 255) !important;
    -webkit-box-shadow: inset 250px 0px 0px transparent;
  }
  
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: rgb(255, 255, 255) !important;
    -webkit-box-shadow: inset 250px 0px 0px transparent;
  } */
  
  
  @media only screen and (max-width: 500px) {
  
    .App {
      text-align: center;
      margin: 100px;
    }
    
    span.passwordshow {
      cursor: pointer;
      border-radius: 10%;
      background: black;
  }
    .backgroundimg{
      height:-webkit-fill-available;
      opacity: 0.78;
      /* background-image: url("./media/images/blueimg.jpg"); */
      text-align: center;
    }
    
    .demoForm{
      /* text-align: center; */
      margin: 5%;
      color: white
    }
    .links{
      /* margin: 8%; */
      /* background-color:rgba(21, 36, 70,.5); */
    }
    .SignIn{
      margin: 5%
    }
    .button{
      width: -webkit-fill-available;
      background-color:rgb(69, 121, 194);
      border: none;
      justify-items: center;
      /* margin: 8%; */
      padding: 5px;
      height: 32px;
    }
    .divinbutton{
      text-align: center;
      padding-top: 18px;
      font-size: smaller;
    }
    .anchortag{
      margin-top: 7%;
      
    }
    .Backgrnd{
      /* background-color: rgb(150, 212, 231) */
    /* margin: 20%;
    
    -webkit-margin-top-collapse: separate; */
    }
    .loginform{
      /* margin: 20%; */
      /* height: 100%; */
      /* width: 10%; */
      margin-left: 40%;
      margin-top: 10%;
    
    }
    
    .insideform{
      background-color:rgba(21, 36, 70,.5);
      /* height: 450px; */
      width: 270px;
      position: relative;
      padding: 3% 1% 1.5% 1%;
    
    }
    .form-control{
      background-color: transparent;
      border: 0px solid #ccc;
      box-shadow: none;
      color: white;
      padding: 0;
      border-bottom: 1px outset;
      border-radius: 2px;
      border-bottom-color: #7cb2e4c2;
    
    }
    .form-control:focus{
      box-shadow: none;
      color: white
    
    }
    .form-group1{
    margin-bottom: 0.7% ;
    }
    .form-group2{
    margin-bottom: -10px ;
    }
    .label{
      font-weight: inherit;
      font-size: 90%;
      padding: 0;
      line-height: 2;
      color: #9cb4cad6
    }
    .container-fluid{
          padding-right: 15px;
        padding-left: 15px;
        margin-right: 40%;
        margin-left: auto;
    }
    
    /* .hr1{
      margin-top: 3%;
      margin-bottom: -3%;
    }
    
    .hr2{
      margin-top: -4%;
    
    } */
    
    
    .links a {
      margin-left: 5%;
      color: #9cb4cad6
    }
    
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus, 
    input:-webkit-autofill:active {
      transition: background-color 5000s ease-in-out 0s;
      -webkit-text-fill-color: rgb(255, 255, 255) !important;
    }
  
  }